.contain{
    margin: auto;
    width: 60vw;
    display: flex;
    margin-top:5% ;
    /* position: absolute; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid orange;
}

.cwrapper{
    /* background-color: yellow; */
    flex: 1;
    
}
.cwrapper form{
    display: flex;
    flex-direction: column;
    padding: 4%;
}

.cwrapper form input{
    width: 400px;
    height: 40px;
    justify-content: start;
    margin-bottom: 4%;
}
.cwrapper form textarea{
    height: 100px;
    width: 400px;
    margin-bottom: 4%;
}




.right{
    flex:1;
    
}

button{
    background-color: orange;
    height: 50px;
    width: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    transition: .4s;

}
button:hover{
    box-shadow: none;
}
/*
.rwrapper {
    position: absolute; 
    width: 400px;
    height: 400px;
    display: flex; 
}
*/

/* .sicon{
    font-size: 600px;
} */

.rwrapper img{
    height: 70vh;
    position: relative;
}

.soicon{
    margin-top: 4px;
    padding: 4px;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
   
}

.mess{
    height: 50px;
    width: 200px;
    background-color: greenyellow;
    box-shadow: 0px 2px 2px 2px gray;
    margin: auto;
    transition: 4s;
    align-content: center;
    color: azure;
    font-weight: bolder;
    z-index: 1;
    position: absolute;
    right: 0;
}

.mess1{
    height: 50px;
    width: 200px;
    background-color: red;
    box-shadow: 0px 2px 2px 2px gray;
    margin: auto;
    transition: 4s;
    align-content: center;
    color: azure;
    font-weight: bolder;
    z-index: 1;
    position: absolute;
    right: 0;
}

@media only screen and (max-width: 1311px) {
    .contain{
        width: 95%;
        flex-direction: column;
        height: auto;
        margin-top: 10%;
    }

    .cwrapper{
       width: 90vw;
       
    }
    .cwrapper form{
        font-size: 36px;
    }


    .cwrapper form input{
        width: 100%;
        height: 50px;
        justify-content: start;
        margin-bottom: 4%;
    }

    .cwrapper form textarea{
        height: 150px;
        width: 100%;
        margin-bottom: 4%;
    }

    .right{
       width: 100%;
    }
    .right img{
        font-size: 300px;
        height: 500px;
        position: absolute;
        width: 100%;
        left:0;
        margin-top:-2% ;
    }

   

 }
