.contain{
    margin: auto;
    width: 60%;
    height: 80%;
    background-color: #ffa500;
    margin-top: 4%;
    display: flex;
}

.cwrapper{
    background-color: yellow; 
    flex: 1;
    
}
.cwrapper form{
    display: flex;
    flex-direction: column;
    padding: 4%;
}

.cwrapper form input{
    width: 400px;
    height: 40px;
    justify-content: start;
    margin-bottom: 4%;
}
.cwrapper form textarea{
    height: 100px;
    width: 400px;
    margin-bottom: 4%;
}




.right{
   flex:1;
    /* transform: rotateY(-90deg); */
}
.rwrapper {
    /* position: absolute; */
    width: 400px;
    height: 400px;
    /* display: flex; */
}

/* .sicon{
   font-size: 600px;
} */

.rwrapper img{
    height: 70vh;
    position: relative;
}

.soicon{
    margin-top: 4px;
    padding: 4px;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
   
}

@media only screen and (max-width: 1311px) {
    .contain{
        width: 100%;
        flex-direction: column;
        position: absolute;
    }

    .cwrapper{
       width: 100%;
       /* position: absolute; */
    }
    .cwrapper form{
        font-size: 36px;
    }


    .cwrapper form input{
        width: 100%;
        height: 50px;
        justify-content: start;
        margin-bottom: 4%;
    }

    .cwrapper form textarea{
        height: 150px;
        width: 100%;
        margin-bottom: 4%;
    }

    .right{
        height: 100vh;
        width: 100vw;
    }

    .rwrapper{
        height:100%;
        justify-content: center;
        align-items: center;
    }

 }
