.containerP {
    width: 80%;
    margin: auto;
    height: 70%;
    /* margin-top:0.5% ; */
  }
.cards-container {
    display: flex;
    border-radius: 6px;
    color: #333;
    background: orange;
    padding: 1rem;
    box-shadow: 0 0 1rem #000 inset;
    overflow-x: auto;
    position: relative;
    
  }
  
  .card {
    flex: 1 0 250px;
    box-shadow: 0 1px 1rem -4px #000;
    background: #fff;
    margin: 1rem;
    overflow: hidden;
    border-radius: 6px;
    transition: all 250ms ease-in-out;
  }
    .Pimg {
      width: 100%;
      height: 250px;
      object-fit: center;
    }
    
.card:hover {
      box-shadow: 0 4px 1rem -4px #000;
      transform: translateY(-3px);
}
.container::-webkit-scrollbar {
        display: none;
}
  
  .card-content {
    padding: 1rem;
  }

  .card-content p{
    display: flex;
    flex-wrap: wrap;
  }
  .pwr{

    justify-content: space-around;
    
  }
  .card-content p button{
    width: 100px;
    margin: 4px;
    font-size: 14px;
    background: orange;
    transition: .4s;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .card-content p button:hover{
    box-shadow: none;
  }

  .base{
    margin-top:.5%;
    margin-left: 27%;
    position: absolute;
    opacity: .1;
  }

  
  @media screen and (max-width: 625px) {
    .containerP {
      width: 100%;
      margin-top:20%;
    }
    
    .cards-container {
      padding: .5rem;
    }
    
    .card {
      margin: .5rem;
    }
    .base{
      margin-top:8%;
      opacity: 0.1;
      position:absolute;
     margin-left: -0.5px;
     justify-content: center;
    }
  }



.hands{
    font-size: 600px;
    height: 200px;
    
}

.conh{
    width: 50%;
    margin: auto;
    height: 30vh;
    margin-top: -2%;
    text-align: center;

}

::-webkit-scrollbar{
  height: 4px;
  width: 4px;
  background: gray;
}
::-webkit-scrollbar-thumb:horizontal{
  background: #000;
  border-radius: 10px;
}

@media only screen and (max-width: 1311px){
   
    .wrapper1{
        margin-top:10%;
        /* width: 100%; */
        flex-direction: column;
        overflow: auto;
        position: relative;
        left:0;
        /* margin-right:0 ; */
    }
    
    .right{
        font-size: 25px;
    }
    .wrapper button{
        height: 50px;
        width: 200px;
        font-size: 25px;
    }
    .hands{
        font-size: 300px;
        height: 300px;
        position: absolute;
        width: 100%;
        left:0;
        margin-top:-2% ;
        
        
    }
    .base{
      margin-top:25%;
      opacity: 0.1;
      position:absolute;
     margin-left: -0.5px;
     
    }
   
}