.container{
    margin: auto;
    width: 60vw;
    display: flex;
    margin-top:5% ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid orange;
    /* box-shadow: 0 0 1rem #000 inset; */
    
}
.left{
    flex: 1;
    /* background-color: aliceblue; */
    
}
.right1{
    flex:1;
    background-color: black;
}

.skills{
    width: 100%;
    /* position: absolute; */
    /* display: flex;
    justify-content: space-around;
    flex-wrap: wrap; */
}
.skills img{
    width: 100px;
    height: 100px;
    margin: 20px;
    transition: 0.4s;
}

.skills img:hover{
   box-shadow: 4px 5px 6px 7px orange;
}

.stimg{
    /* position: static; */
    position: absolute;
    min-width: 400px;
    min-height: 400px; 
    max-height: 500px;
    transition: all;
    animation: disp 12s ease-in-out infinite alternate ;
    
}

.baseS{
    margin-top:8%;
    margin-left: 27%;
    position: absolute;
    opacity: 0.1;
  }


@keyframes disp {
    20%{transform: translateX(-50px);}
    75%{transform: translateX(50px);}
    100%{height: 600px;}

}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1311px) {
    .container{
    width: 95%;
    flex-direction: column;
    margin-top: 10%;
    /* background-color: black; */
    }
    .stimg{
        width: 300px;
        position: relative;
        min-height: 300px; 
        animation: disp 12s ease-in-out infinite alternate ;
        
    }
    @keyframes disp {
        20%{transform: translateX(-10px);}
        75%{transform: translateX(10px);}
        100%{height: 100px;}
    
    }
    
    .skills{

       flex-direction: row;
       /* position: relative; */
    }
    
    
    

    .skills img{
        /* display: none; */
        width: 200px;
        height: 200px;
    }

    .baseS{
        margin-top:8%;
        opacity: 0.1;
        position:absolute;
       margin-left: -0.5px;
      }
}

